body{
	margin: 0;
	padding: 0;
}
.topo{
	position: fixed;
	background-color: #000;
	width: 100%;
	height: 50px;
}
.slide{
	background-color: #BBB;
	width: 100%;
	height: 300px;
}
.body{
	background-color: #DDD;
	width: 100%;
	height: 1510px;	
}
.footer{
	background-color: #EEE;
	width: 100%;
	height: 40px;		
}
.topo-js{
	display: none;
	background-color: yellow;
	width: 100%;
	height: 20px;		
}